<nav class="green">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Twitter
    </a>
    <ul class="right">
      <%= if @conn.assigns.user do %>
        <li><%= link "Sign Out", to: auth_path(@conn, :sign_out) %></li>
      <% else %>
        <li><%= link "Sign in with Google", to: auth_path(@conn, :request, "Google") %></li>
      <% end %>
    </ul>
  </div>
</nav>
